
{% extends 'base.html' %}

     {% block content %}
				<div class="top-bar imagetag" >
				<div class="container">
					<div class="header">
						<nav class="navbar navbar-default">
							<div class="navbar-header navbar-left">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>{% load admin_urls%}
								<h1><a class="navbar-brand" href="index.html">TravelTime</span></a></h1>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
								<nav class="cl-effect-15" id="cl-effect-15">
									<ul class="nav navbar-nav">
										<li><a href="{% url 'index' %}">Home</a></li>
													<!--<li><a href="{% url 'index' %}">About</a></li>-->
													<li ><a href="{% url 'booking' %}">Booking</a></li>
													<li ><a href="{% url 'canclet' %}">Cancle Ticket</a></li>
													<!--<li><a href="{% url 'index' %}">Gallery</a></li>-->
													<li class="active">
														<a href="{% url 'login' %}">Login/Sign Up</a>
														
													</li>
													<!--<li><a href="{% url 'index' %}">Contact</a></li>-->
												</ul>
									
								</nav>
							</div>
						</nav>
				</div>
			</div>
		</div>
		<!-- //Top-Bar -->
		<!-- w3-banner -->
	
<!-- //banner -->
<!-- main-section -->
	<div class="head agile">
	
		<div class="login w3">
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px auto;">
					<ul class="resp-tabs-list" style="width: 55%;margin:0px auto;">
						<li class="resp-tab-item" ><span>Login</span></li>
						<li class="resp-tab-item" ><label>/</label><span>Sign Up</span></li>
					</ul>				  	 
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content" id="login" >
							<div class="login-top agileinfo">
								<form action="/tmsapp/auth/" method="post">
													{% csrf_token %}<div class="w3_agileits_main_grid w3l_main_grid">
														<div class="agileits_grid">
															<h5>User Name* </h5>
															<div class="name">
																<input type="text" name="uname" placeholder="Your User Name" required="">
															</div>
															<div class="clearfix"></div>
														</div>
													</div>

									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>Password * </h5>
											<div class="name">
												<input type="password" name="password" placeholder="Your Password" required="">
											</div>
											<div class="clear"></div>
										</div>
									</div>
												
										
											<div class="aitssubmitw3ls" style="margin: 0 auto;">
												<input type="submit" name="submit" value="Submit"><br><br><span style="font-family: Raleway;">
												{{ error }}</span>
											</div>
										</form>
								
							</div>
						</div>
						<div class="tab-1 resp-tab-content"  id="reg">
							<div class="login-top agileits">
							
								<div class="w3layouts-agileits">

											<div class="w3layoutscontactagileits">


							<form action="/tmsapp/reg/" method="post" onsubmit="return validatepassword()">
													{% csrf_token %}
									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>First Name * </h5>
											<div class="name">
												<input type="text" name="fname" placeholder="Your First Name" required="">
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>Last Name * </h5>
											<div class="name">
												<input type="text" name="lname" placeholder="Your Last Name" required="">
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>User Name * </h5>
											<div class="name">
												<input type="text" name="uname" placeholder="Your User Name" required="">
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>E-mail </h5>
												<input type="email" name="email" placeholder="ex : yourmail@gmail.com" required="">
										</div>
									</div>
									
									
									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>Password * </h5>
											<div class="name">
												<input type="password" name="password" placeholder="Your Password" required="" id="password" >
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="w3_agileits_main_grid w3l_main_grid">
										<div class="agileits_grid">
											<h5>Confirm Password * </h5>
											<div class="name">
												<input type="password" name="cpassword" placeholder="Your Confirm Password" required="" id="cpassword">
											</div>
											<p id="pwd">password and confirm password does not metch</p>
											<div class="clear"></div>
										</div>
									</div>
										<div class="clearfix"></div>
											<div class="aitssubmitw3ls">
												<input type="submit" name="submit" value="Submit"  id="submit1">
											</div>
											
								</form>
								<script type="text/javascript">
								

function validatepassword() {
    if (document.getElementById('password').value ==
            document.getElementById('cpassword').value) {
       
     document.getElementById('pwd').style.display="none";
 return true;
    } else {
       
          document.getElementById('pwd').style.display="block";
            return false;    }

}


</script>
									</div>
								</div>	
							</div>
						</div>	
						<div class="tab-1 resp-tab-content" >
							<div class="login-top agileits">
								<h3>Search for Hotels</h3>
								<div class="w3layouts_main_grid">
									<form action="#" method="post" class="w3_form_post">
										<div class="w3_agileits_main_grid w3l_main_grid">
											<div class="agileits_grid">
												<h5>Name * </h5>
												<div class="nam">
													<input type="text" name="First name" placeholder="First Name" required="">
												</div>
												<div class="nam1">
													<input type="text" name="Last name" placeholder="Last Name" required="">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="w3_agileits_main_grid w3l_main_grid">
											<div class="agileits_grid">
												<h5>E-mail </h5>
													<input type="email" name="Email" placeholder="ex : yourmail@gmail.com" required="">
											</div>
										</div>
										<div class="agileits_main_grid w3_agileits_main_grid held">
											<div class="wthree_grid">
												<h5>Room Type</h5>
												<select id="category" name="category" required="">
													<option value="none">None</option>
													<option value="category1">Single Room</option>
													<option value="category2">Double Room</option>
													<option value="category3">Suit Room</option>
													
												</select>
											</div>
										</div>
										
										<div class="agileinfo_main_grid">
											<div class="agileits_w3layouts_grid">
												<h5>Number of Guests *</h5>
												<select id="category1" name="category1" required="">
													<option value="category1">01</option>
													<option value="category2">02</option>
													<option value="category3">03</option>
													<option value="category4">04</option>
													<option value="category2">05</option>
													<option value="category3">06</option>
												</select>
											</div>
										</div>
										<div class="clear"></div>
										<div class="agileits_w3layouts_main_grid w3ls_main_grid">
											<div class="agileinfo_grid">
											<h5>Check In &amp; Time *</h5>
												
												<div class="agileits_w3layouts_main_gridl">
													<input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '08/13/2016';}" required="">
												</div>
												<div class="agileits_w3layouts_main_gridr">
													<input type="time" name="Time" placeholder=" " required="">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="agileits_w3layouts_main_grid w3ls_main_grid">
											<div class="agileinfo_grid">
											<h5>Check Out &amp; Time *</h5>
												
												<div class="agileits_w3layouts_main_gridl">
													<input class="date" id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '08/13/2016';}" required="">
												</div>
												<div class="agileits_w3layouts_main_gridr">
													<input type="time" name="Time" placeholder=" " required="">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="w3_main_grid">
											
											<div class="w3_main_grid_right">
												<input type="submit" value="Search">
											</div>
											<div class="clearfix"></div>
										</div>
									</form>
								</div>	
							</div>
						
							
						</div>		
						<div class="tab-1 resp-tab-content" >
							<div class="login-top agileinfo">
								<h2>Search for Cabs</h2>
									<div class="containerw3layouts-agileits">

											<div class="w3layoutscontactagileits">
												<form action="#" method="post">
													<div class="w3_agileits_main_grid w3l_main_grid">
														<div class="agileits_grid">
															<h5>Name * </h5>
															<div class="name">
																<input type="text" name="First name" placeholder="Your Name" required="">
															</div>
															<div class="clearfix"></div>
														</div>
													</div>
													<div class="w3_agileits_main_grid w3l_main_grid">
														<div class="agileits_grid">
															<h5>E-mail </h5>
																<input type="email" name="Email" placeholder="ex : yourmail@gmail.com" required="">
														</div>
													</div>

													<div class="aitsphonew3ls agileinfow3ls">
														<div class="aitsphonew3ls-lable wthreelable">
															<label>Phone</label><span class="colon">:</span>
														</div>
														<div class="aitsphonew3ls-input wthreeinput">
															<label>Area Code</label>
															<input class="agilecode" type="tel" pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" title="Phone Number (Format: +99(99)9999-9999)" name="Area Code" required="">
															<label class="aitsnumber">Number</label>
															<input class="wthreeland" type="tel" pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" title="Phone Number (Format: +99(99)9999-9999)" name="Number" required="">
															<br>
														</div>
														<div class="clearfix"></div>
													</div>

										<div class="agileits_w3layouts_main_grid w3ls_main_grid">
											<div class="agileinfo_grid">
											<h5>Departure date &amp; Time *</h5>
												
												<div class="agileits_w3layouts_main_gridl">
													<input class="date" id="datepicker1" name="Text" type="text" value="Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '08/13/2016';}" required="">
												</div>
												<div class="agileits_w3layouts_main_gridr">
													<input type="time" name="Time" placeholder=" " required="">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="agileits_w3layouts_main_grid w3ls_main_grid">
											<div class="agileinfo_grid">
											<h5>Return date &amp; Time *</h5>
												
												<div class="agileits_w3layouts_main_gridl">
													<input class="date" id="datepicker1" name="Text" type="text" value="date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '08/13/2016';}" required="">
												</div>
												<div class="agileits_w3layouts_main_gridr">
													<input type="time" name="Time" placeholder=" " required="">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>

													<div class="aitspickupaddress agileinfow3ls">
														<div class="aitspickupaddress-lable wthreelable">
															<span class="agilepickup-lable">
																<label>Pickup</label>
																<label>Address</label>
															</span>
															<span class="colon">:</span>
														</div>
														<div class="aitspickupaddress-input wthreeinput">
															<textarea name="Pickup Address" placeholder="Pickup Address" required=""></textarea>
														</div>
														<div class="clearfix"></div>
													</div>

													<div class="aitsdestinationaddress agileinfow3ls">
														<div class="aitsdestinationaddress-lable wthreelable">
															<span class="agiledest-lable">
																<label>Destination</label>
																<label>Address</label>
															</span>
															<span class="colon">:</span>
														</div>
														<div class="aitsdestinationaddress-input wthreeinput">
															<textarea name="Destination Address" placeholder="Destination Address" required=""></textarea>
														</div>
														<div class="clearfix"></div>
													</div>

													<div class="w3lsjourneyaits agileinfow3ls">
														<div class="w3lsjourneyaits-lable wthreelable">
															<span class="aitsjourney-lable">
																<label>Journey</label>
																<label>Type</label>
															</span>
															<span class="colon">:</span>
														</div>
														<div class="w3lsjourneyaits-input wthreeinput">
															<select name="journey">
																<option value="single">Single</option>
																<option value="two way">Round Trip</option>
															</select>
														</div>
														<div class="clearfix"></div>
													</div>

													<div class="aitssubmitw3ls">
														<input type="submit" name="submit" value="Search">
													</div>

												</form>
											</div>

									</div>		
							</div>
						</div>
					</div>	
				</div>
			</div>	
		</div>	
		<div class="clear"></div>
	</div>	
<!-- //main-section -->
<!-- footer -->
	<div class="agileinfo_copyright" style="background:#ED1C24;">
		<p>© 2018 TravelTime| Design by PJ</p>
	</div>
<!-- //footer -->

<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Travel Agency
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="../static/images/1.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
{% endblock %}