{% extends 'base.html' %}
{% block content %}
  <!--start header-->
<div class="top-bar imagetag">
				<div class="container">
					<div class="header">
						<nav class="navbar navbar-default">
							<div class="navbar-header navbar-left">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>{% load admin_urls %}
								<h1><a class="navbar-brand" href="{% url 'index' %}">TravelTime</span></a></h1>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
								<nav class="cl-effect-15" id="cl-effect-15">
									<ul class="nav navbar-nav">
										<li><a href="{% url 'index' %}">Home</a></li>
												<!--	<li><a href="{% url 'index' %}">About</a></li>-->
													<li class="active"><a href="{% url 'booking' %}">Booking</a></li>
												<!--	<li><a href="{% url 'booking' %}">Gallery</a></li>-->
		 					<li ><a href="{% url 'canclet' %}">Cancle Ticket</a></li>
		 						<li class="dropdown">
														{% if 'uid' in request.session %}
														<a href="{% url 'logout' %}">{{request.session.uid }}(logout)</a>
													{% else %}
													
													<a href="{% url 'login' %}">Login/Sign Up</a>
													{% endif %}
													</li>
													<!--<li><a href="{% url 'booking' %}">Contact</a></li>-->
												</ul>
									
								</nav>
							</div>
						</nav>
				</div>
			</div>
		</div>
		<!--end header-->
<script type="text/javascript">
	function clickbus(bid,seatfare) {
	
		//var str="{% url 'bookseat' %}?betsid="+i;
		//$('#form').attr("action",str);
		$('#form').append("<input type='hidden' value='"+bid+"' name='betsid'>");
		$('#form').append("<input type='hidden' value='{{date}}' name='date'>");
		$('#form').append("<input type='hidden' value='"+seatfare+"' name='seatfare'>");

		$('#form').append("<input type='hidden' value='{{nop}}' name='nop'>");
		$('#form').append("<input type='hidden' value='{{src}}' name='src'>");
		$('#form').append("<input type='hidden' value='{{dst}}' name='dst'>");

		$('#form').submit();
	}
</script>{% load admin_urls %}<br><br><br><br>
<div class="container" ><form id='form'  action="{% url 'bookseat' %}">
<table class="table table-hover">
	<thead>
		<th></th>
		<th>Source</th>
		<th>Destination</th>
		<th>type</th>
		<th>Arrival Time</th>
		<th>Departure Time</th>
		<th>Fare per person</th>
	</thead>
	<tbody>
	{% for i in buslist %}
	<tr>
		<td><input type="radio" name="sname" value="{{i.bid_id}}" onclick ="clickbus('{{i.betsid}}','{{i.seatfare}}')" id="{{i.betsid}}"  autocomplete="off">
		<td>{{i.src}}</td>
		<td>{{i.dst}} </td>
		<td>{{i.btype}}</td>
		<td>	{{i.atime}}</td>
		<td>{{i.dtime}}</td>
		<td>{{i.seatfare}}</td>
	</tr>
		{% endfor %}
</div>
</tbody>

</table></form>
</div>
</body>
</html>

{% endblock %}